{% extends 'base.html' %}
{% block content %}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: -10.15%;">
	
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img class="d-block w-100" src="static/img/awards-126498393-promo.jpg" alt="First slide" style="height: 600px">
			<div class="carousel-caption d-none d-md-block text-danger" style="font-size: 20px">
				<h1 class=" font-weight-bold">VIEW PROJECTS</h1>
				<a href="{% url 'project' %}"><button class="btn btn-lg btn-info  font-weight-bold">VIEW</button></a>

			</div>
		</div>
		
</div>


{% endblock %}